main{
    background-color: #696969;
    height: auto;
}
main p{
    font-size: 25px;
}

h1{
    font-family: Courier, monospace;
    font-size: 35px;
    text-align: center;
}
.logo{
    width: 25px;
    height: 25px;
}
p{
    text-align: center;
}
